DATABASE_URL=postgresql://postgres.cnmsdtfzqsyceevqgmak:[PASSWORD]@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.cnmsdtfzqsyceevqgmak:[PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres
PORT=4000
JWT_SECRET=
PRODUCTION=false
FRONTEND_URL=
FRONTEND_DEV_URL=http://localhost:5173
